force-app/main/default/flows/IoT.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Temperature</name>
        <label>Temperature</label>
        <locationX>314</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>temp_below_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.temperature__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Case</targetReference>
            </connector>
            <label>temp above 20</label>
        </rules>
        <rules>
            <name>temp_above_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.temperature__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <label>temp below 20</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Smart Fridge IoT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IoT</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Update_SmartFridge_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reading__c</field>
            <value>
                <elementReference>Create_Smart_Frigde</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CaseSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Temperature Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Smart_Frigde</name>
        <label>Create Smart Frigde</label>
        <locationX>314</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Temperature</targetReference>
        </connector>
        <inputAssignments>
            <field>Door__c</field>
            <value>
                <elementReference>$Record.Door__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>deviceId__c</field>
            <value>
                <elementReference>$Record.deviceId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>humidity__c</field>
            <value>
                <elementReference>$Record.humidity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>temperature__c</field>
            <value>
                <elementReference>$Record.temperature__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts__c</field>
            <value>
                <elementReference>$Record.ts__c</elementReference>
            </value>
        </inputAssignments>
        <object>SmartFridge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_SmartFridge_Record</name>
        <label>Update SmartFridge Record</label>
        <locationX>50</locationX>
        <locationY>554</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Smart_Frigde</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case__c</field>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputAssignments>
        <object>SmartFridge__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Smart_Frigde</targetReference>
        </connector>
        <object>Smart_Fridge_Reading__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CaseDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The temperature is too high. Close the fridge door and check the fridge settings.</text>
    </textTemplates>
    <textTemplates>
        <name>CaseSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The temperature warning.</text>
    </textTemplates>
</Flow>
