force-app/main/default/flows/SmartFridge.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Temperature</name>
        <label>Temperature</label>
        <locationX>176</locationX>
        <locationY>314</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>temp_below_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.temperature__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <label>temp below 20</label>
        </rules>
        <rules>
            <name>temp_above_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.temperature__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Temperature_Case</targetReference>
            </connector>
            <label>temp above 20</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SmartFridge {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SmartFridge</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Smart_Fridge</name>
        <label>Smart Fridge</label>
        <locationX>176</locationX>
        <locationY>194</locationY>
        <connector>
            <targetReference>Temperature</targetReference>
        </connector>
        <inputAssignments>
            <field>Door__c</field>
            <value>
                <elementReference>$Record.Door__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>deviceId__c</field>
            <value>
                <elementReference>$Record.deviceId__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>humidity__c</field>
            <value>
                <elementReference>$Record.humidity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>temperature__c</field>
            <value>
                <elementReference>$Record.temperature__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ts__c</field>
            <value>
                <elementReference>$Record.ts__c</elementReference>
            </value>
        </inputAssignments>
        <object>SmartFridge__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Temperature_Case</name>
        <label>Temperature Case</label>
        <locationX>132</locationX>
        <locationY>434</locationY>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Temperature Case</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Smart_Fridge</targetReference>
        </connector>
        <object>Smart_Fridge_Reading__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
